name: Release
on: [ workflow_dispatch ]
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Setup java
        uses: actions/setup-java@v4
        with:
          java-version: '11'
          distribution: 'adopt'
      - name: Build with Maven
        run: mvn --batch-mode --update-snapshots verify

  publish:
    runs-on: ubuntu-latest
    needs: build
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Setup Maven Central
        uses: actions/setup-java@v4
        with:
          java-version: '11'
          distribution: 'adopt'
          server-id: ossrh
          server-username: MAVEN_USERNAME
          server-password: MAVEN_PASSWORD
          gpg-private-key: ${{ secrets.GPG_SIGNING_KEY }}
          gpg-passphrase: GPG_PASSPHRASE
      - name: Publish release
        run: bash github-build.sh
        env:
          MAVEN_USERNAME: ${{ secrets.OSS_USER_TOKEN_KEY }}
          MAVEN_PASSWORD: ${{ secrets.OSS_USER_TOKEN_PASS }}
          GPG_PASSPHRASE: ${{ secrets.GPG_SIGNING_PASSWORD }}
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      - name: Create Release PR
        uses: peter-evans/create-pull-request@v5
        with:
          branch: version-release
          title: Version Release
          body: |
            Bumping project version after release.
